@model List<Movie>
<br />
<div class="row">
    <div class="col-10">
        <h1>All Movies</h1>
    </div>
    <div class="col-2">
        <a href="/Admin/Movie/Create" class="btn btn-secondary"><i class="bi bi-plus-circle"></i> Add New Movie</a>
    </div>
</div>
<br />


<form>
	<div class="row">
        <div class="col-4">
            <div class="mb-3">
                <input type="text" class="form-control" name="query" id="exampleInputEmail1" placeholder="Search">
            </div>
        </div>
        
        <div class="col-4">
            <button type="submit" class="btn btn-primary">Search</button>

		</div>
	</div>
    </form>






<table class="table" style="border:solid">
    <thead class="table-dark">
        <tr>
            <th scope="col" style="text-align:center">ID</th>
            <th scope="col" style="text-align:center">Name</th>
            <th scope="col" style="text-align:center">Description</th>
            <th scope="col" style="text-align:center">Price</th>
            <th scope="col" style="text-align:center">Start Date</th>
            <th scope="col" style="text-align:center">End Date</th>
            <th scope="col" style="text-align:center">Movie Status</th>
            <th scope="col" style="text-align:center">Cinema Name</th>
            <th scope="col" style="text-align:center">Category Name</th>
            <th scope="col" style="text-align:center">Actions</th>

        </tr>
    </thead>
    <tbody>
        @if(Model is not null)
        {
            foreach (var item in Model)
            {
                <tr style="border:solid">
                    <td scope="row" style="border:solid">@item.Id</td>
                    <td scope="row" style="border:solid">@item.Name</td>
                    <td scope="row" style="border:solid">@item.Description</td>
                    <td scope="row" style="border:solid">@item.Price</td>
                    <td scope="row" style="border:solid">@item.StartDate</td>
                    <td scope="row" style="border:solid">@item.EndDate</td>
                    <td scope="row" style="border:solid">@item.MovieStatus</td>
                    <td scope="row" style="border:solid">@item.Cinema.Name</td>
                    <td scope="row" style="border:solid">@item.Category.Name</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-primary">Action</button>
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                    <a class="dropdown-item" href="/Admin/Movie/Edit?MovieId=@item.Id">Edit</a>
                                    <a class="dropdown-item" href="/Admin/Movie/Delete?MovieId=@item.Id" onclick="return confirm('are you sure?')">Delete</a>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
            }
        }
        else
        {
            <div class="mt-5" style="background-color:blanchedalmond; text-align:center; width:80%; height:70vh ;margin:auto">
                <br />
                <br />
                <h1 class="mt-5" style="font-size:70px"> Sorry !!</h1>
                <h1 class="mt-5" style="font-size:70px"> Not Found Any Thing</h1>

            </div>
        }

    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        @for (int i = 1; i <= (ViewBag.MovieCount + 1) ; i++)
        {
            <li class="page-item"><a class="page-link" href="/Admin/Movie/Index?PageNumber=@i">@i</a></li>

        }       
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>